Push to Git
[{"updatedAt":"2026-02-07T03:17:03.241Z","createdAt":"2026-02-05T21:56:45.977Z","id":"GG0neib8wjqBTgepL4ol-","name":"Push to Git","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-240,-16],"id":"3926454c-0fa9-412f-8fa4-eb0d85913000","name":"n8n Trigger"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[16,-16],"id":"855a7705-6629-4ac4-a492-c621630a4a4c","name":"Get a workflow","credentials":{"n8nApi":{"id":"Ta9y8KPU9nvMgyPC","name":"OGL n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"Giant-Leap-ai"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/Giant-Leap-ai/n8n-workflows"},"filePath":"=docs/ {{ $('Get a workflow').item.json.name }}","binaryData":true,"commitMessage":"={{ $('n8n Trigger').item.json.event }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[528,0],"id":"da5ecabf-bb50-4183-ab1a-072b2399d4f3","name":"Create a file","webhookId":"6b8ea13e-b539-483c-84bd-fb9d2196971d","credentials":{"githubApi":{"id":"FplZQXgo5xm5ivhX","name":"OGL - github"}}},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[256,-16],"id":"7d672e52-9757-47e5-bcd1-a60fdeed29e7","name":"Convert to File"}],"connections":{"n8n Trigger":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"n8n Trigger":[{"json":{"event":"Workflow updated","timestamp":"2026-02-07T03:11:13.102Z","workflow_id":"GG0neib8wjqBTgepL4ol-"},"pairedItem":{"item":0}}]},"versionId":"d59517de-c6d6-4209-ae18-faa6acfe493d","activeVersionId":"748a056f-51e0-4491-a4ea-a82dd2802ecc","versionCounter":102,"triggerCount":1,"shared":[{"updatedAt":"2026-02-05T21:56:45.980Z","createdAt":"2026-02-05T21:56:45.980Z","role":"workflow:owner","workflowId":"GG0neib8wjqBTgepL4ol-","projectId":"BLSzVvEW9gVLNoZ5","project":{"updatedAt":"2025-11-17T21:37:18.000Z","createdAt":"2025-09-24T16:28:20.434Z","id":"BLSzVvEW9gVLNoZ5","name":"OGL Internal","type":"team","icon":{"type":"icon","value":"layers"},"description":"","creatorId":null,"projectRelations":[{"updatedAt":"2025-09-24T16:28:20.436Z","createdAt":"2025-09-24T16:28:20.436Z","userId":"2337df4c-c86d-4d78-acc7-863db327716e","projectId":"BLSzVvEW9gVLNoZ5","user":{"updatedAt":"2026-02-06T17:16:42.000Z","createdAt":"2025-03-05T19:50:19.439Z","id":"2337df4c-c86d-4d78-acc7-863db327716e","email":"luke.a.young67@gmail.com","firstName":"lucas","lastName":"young","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"WoQIcJUqw24MLifF","userActivatedAt":1741207285472,"userClaimedAiCredits":true,"npsSurvey":{"responded":true,"lastShownAt":1759791538695},"dismissedCallouts":{"preBuiltAgentsModalCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-06","isPending":false}},{"updatedAt":"2025-10-24T20:27:27.085Z","createdAt":"2025-10-24T20:27:27.085Z","userId":"c4e77535-2573-445d-a74d-da0a75862f0c","projectId":"BLSzVvEW9gVLNoZ5","user":{"updatedAt":"2026-02-06T15:29:10.000Z","createdAt":"2025-10-24T20:24:43.016Z","id":"c4e77535-2573-445d-a74d-da0a75862f0c","email":"kmorton211@gmail.com","firstName":"Kyle","lastName":"Morton","personalizationAnswers":null,"settings":{"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-06","isPending":false}},{"updatedAt":"2025-12-12T20:57:50.501Z","createdAt":"2025-12-12T20:57:50.501Z","userId":"bf95786d-3689-4832-9ca5-a8db93b1eb50","projectId":"BLSzVvEW9gVLNoZ5","user":{"updatedAt":"2026-02-06T15:48:10.000Z","createdAt":"2025-03-30T01:17:15.981Z","id":"bf95786d-3689-4832-9ca5-a8db93b1eb50","email":"edgar@onegiantleap.ai","firstName":"Edgar","lastName":"Muller","personalizationAnswers":null,"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"M5HoIU1BQpxXiUhf","userActivated":true,"userActivatedAt":1767737413876,"npsSurvey":{"responded":true,"lastShownAt":1770249546241}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-07T03:11:13.000Z","createdAt":"2026-02-07T03:11:06.440Z","versionId":"748a056f-51e0-4491-a4ea-a82dd2802ecc","workflowId":"GG0neib8wjqBTgepL4ol-","nodes":[{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-144,-16],"id":"3926454c-0fa9-412f-8fa4-eb0d85913000","name":"n8n Trigger"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[96,-16],"id":"855a7705-6629-4ac4-a492-c621630a4a4c","name":"Get a workflow","credentials":{"n8nApi":{"id":"Ta9y8KPU9nvMgyPC","name":"OGL n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"Giant-Leap-ai"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/Giant-Leap-ai/n8n-workflows"},"filePath":"docs","fileContent":"data"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[592,64],"id":"da5ecabf-bb50-4183-ab1a-072b2399d4f3","name":"Create a file","webhookId":"6b8ea13e-b539-483c-84bd-fb9d2196971d","credentials":{"githubApi":{"id":"FplZQXgo5xm5ivhX","name":"OGL - github"}},"disabled":true},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[304,-16],"id":"7d672e52-9757-47e5-bcd1-a60fdeed29e7","name":"Convert to File"}],"connections":{"n8n Trigger":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Create a file":{"main":[[]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"authors":"Kyle Morton","name":"Version 748a056f","description":"still testing","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-07T03:11:13.204Z","id":253,"workflowId":"GG0neib8wjqBTgepL4ol-","versionId":"748a056f-51e0-4491-a4ea-a82dd2802ecc","event":"activated","userId":"c4e77535-2573-445d-a74d-da0a75862f0c"}]}}]